@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Mochiy+Pop+One&family=Poppins&family=Raleway:wght@500&family=Rubik:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);

  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}
body {
  background-color: var(--Very-light-gray);
  font-family: "poppins";
}
.wrapp {
  max-width: 100%;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 80%;
}
.row {
  padding: 18px 15px;
  display: flex;
  margin: 8px;
  justify-content: space-around;
  width: 43rem;
  border-radius: 5px;
  background-color: var(--White);
}

.vote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Very-light-gray);
  height: 5rem;
  border-radius: 5px;
  padding: 8px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 36rem;
}
.one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.personal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14rem;
}
.dp {
  width: 35px;
}
.two,
.time {
  color: var(--Grayish-Blue);
}
.two {
  width: 34rem;
  line-height: 22px;
  width: 34rem;
}
.name {
  font-weight: 700;
  color: var(--Dark-blue);
}
.reply,
.val {
  font-weight: 700;
  color: var(--Moderate-blue);
}
.reply {
  cursor: pointer;
}
.reply:hover {
  color: var(--Light-grayish-blue);
}
.incr,
.decr {
  color: var(--Light-grayish-blue);
  font-weight: 700;
  cursor: pointer;
}
.incr:hover,
.decr:hover {
  color: var(--Grayish-Blue);
}

.rep {
  display: flex;
  font-weight: 700;
}
.rep .edit {
  color: var(--Moderate-blue);
}
.inputBox {
  background-color: var(--White);
  /* height: 100px; */
  width: 42rem;
  border-radius: 5px;
  padding: 18px;
  margin-top: 7px;
  display: grid;
  grid-template-columns: auto auto auto;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
}
.addComment {
  width: 32rem;
  grid-column: 2 / span 1;
  height: 65px;
  font-weight: bold;
  font-size:16px;
  border: 2px solid var(--Light-gray);
  border-radius: 5px;
  padding: 8px;
  color: var(--Grayish-Blue);
}

.send,
.replyBtn,
.editBtn {
  padding: 8px;
  width: 70px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--Very-light-gray);
  background-color: var(--Moderate-blue);
  cursor: pointer;
}
.send{
  height: 40px;
  grid-column: 3 / span 1;
  /* justify-self: flex-end; */
  /* align-self:flex-end; */
}
.send:hover {
  background-color: var(--Light-grayish-blue);
}
.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-left: 3px solid var(--Light-gray);
  margin-left: 40px;
}

.innerRow {
  padding: 18px 15px;
  display: flex;
  margin: 8px 10px;
  justify-content: space-around;
  width: 37rem;
  border-radius: 5px;
  background-color: var(--White);
}
.innerRow  .details {
  width: 30rem;
}
.innerRow  .details  .two {
  width: 30rem;
}

.me .personal {
  width: 16rem;
}
.you {
  padding: 2px 5px;
  color: var(--White);
  background-color: var(--Moderate-blue);
}
.rep {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}
.delete {
  color: var(--Soft-Red);
  cursor: pointer;
}
.delete:hover {
  color: var(--Pale-red);
}
.edit:hover {
  color: var(--Light-grayish-blue);
}
.reply img {
  margin: 0px 8px;
}

.replyingTo {
  color: var(--Moderate-blue);
  font-weight: 700;
}
.footer {
  display: none;
}

.overlay {
  position: absolute;

  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.5;
}
.modal {
  width: 350px;
  height: 220px;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--White);
}
.cancel {
  background-color: var(--Grayish-Blue);
  border: none;
  padding: 10px 25px;
  font-weight: 700;
  color: var(--White);
  border-radius: 3px;
  cursor: pointer;
}
.deleteBtn {
  background-color: var(--Soft-Red);
  border: none;
  padding: 10px 25px;
  color: var(--White);
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
}
.modal h2 {
  color: var(--Dark-blue);
  font-weight: 700;
}
.modal p {
  color: var(--Grayish-Blue);
}
.btns {
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
}


@media screen and (max-width: 768px) {
  .wrapp {
    max-width: 80%;
  }
  .two {
    width: 32rem;
  }
  .row {
    width: 38rem;
  }
  .details {
    width: 32rem;
  }
  .inputBox {
    width: 30rem;
  }
  .addComment {
    width: 25rem;
  }
  .innerRow {
    width: 33rem;
  }
  .innerRow  .details {
    width: 28rem;
  }
  .innerRow  .details  .two {
    width: 28rem;
  }
}
@media screen and (max-width: 645px) {
  .two {
    width: 26rem;
  }
  .row {
    width: 32rem;
  }
  .details {
    width: 26rem;
  }
  .inputBox {
    width: 25rem;
  }
  .addComment {
    grid-column: 2 / span 2;
  /*   width: 25rem; */
  }
  .innerRow {
    width: 27rem;
  }
  .innerRow  .details {
    width: 22rem;
  }
  .innerRow  .details  .two {
    width: 22rem;
  }
}
@media screen and (max-width: 560px) {
  .wrapp {
    font-size: 13px;
  }
  .two {
    width: 18rem;
  }
  .row {
    width: 20rem;
    padding: 10px 5px;
  }
  .com {
    flex-direction: column;
    align-items: center;
  }
  .innerRow {
    padding: 10px 5px;
    width: 19rem;
    align-items: center;
  }
  .innerRow  .inputBox {
    width: 15rem;
  }
  .details {
    width: 17rem;
  }
  .personal {
    width: 14rem;
  }
  .inputBox {
    width: 20rem;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16rem;
    margin-top: 5px;
  }
  .upper .vote {
    display: none;
  }
  .upper .reply {
    display: none;
  }
  .upper .rep {
    display: none;
  }
  .lower .rep {
    display: flex;
    width: 7rem;
  }
  .lower .vote {
    width: 5rem;
    flex-direction: row;
    height: 2rem;
  }
  .addComment {
    width: 15rem;
  }
  .innerContainer {
    margin-left: 5px;
  }

  /* .inputBox { */
  /*   display: flex; */
  /* } */
  .innerRow .footer {
    width: 15rem;
  }

  .innerRow  .details {
    width: 14rem;
  }
  .innerRow  .details  .two {
    width: 14rem;
  }
  .innerRow .lower .reply {
    width: 8rem;
  }
  .me .reply {
    width: 9rem;
  }
  .modal {
    width: 320px;
    height: 200px;
  }
}
